<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel='stylesheet' href="/css/Addanonymous.css">
</head>
<body>

<div class="header">
  <h1>Welcome to add post</h1>
  <p id="username">test</p>
</div>
<div class="topnav">
  <a href="LoginMain.html">View Post</a>
  <a href="Addcomment.html">Add Comment</a>
  <a href="ViewAnonymous.html">View anonymous Comment</a>
  <a href="Addanonymous.html">Add anonymous Comment</a>
  <a id="logout" href="#" style="float:right">Logout</a>
</div>

<label>Add anonymous:</label>
<textarea class = "addpost" id="addanonymous" name="addanonymous" rows="5" cols="50">
</textarea>
<input id="add_anonymous" type="button" value='add' />


<div class="footer">
  <p>CopyRight by Coventry Unversity</p>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/Addanonymous.js"></script>
</html>